:root {
  --nzqa_blue: #00709e;
  --white: #ffffff;
}

nav {
    background-color: var(--nzqa_blue);
}

#main-container {
    background-color: #f3f3f3;
}

.card-columns {
   column-count: 3;
}

@media screen and (max-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

.clickable { cursor: pointer; }

.internal_row {
    background-color: #e0f0ff;
}

.external_row {
    background-color: /* elia:#ffe8f5*//* odin:#ffd1eb sarah:*/#c6d6e8;
}
