{
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

localhost {
	encode gzip
	file_server {
		root /static/	
	}
	reverse_proxy /api/* api_service:5000
	reverse_proxy /indexes/* search:7700
	reverse_proxy /search/* search:7700
	log {
        output file /static/analytics/access.log {
            roll_keep_for 2160h
        }
        format json
	}
	@websockets {
		header Connection *Upgrade*
		header Upgrade    websocket
	}
	reverse_proxy @websockets analytics:7890
}
