:root {
  --nzqa_blue: #00709e;
  --nzqa_red: #d22127;
  --white: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.navbar {
    background-color: var(--nzqa_blue);
    border-bottom: 5px solid var(--nzqa_red);
}

.navbar_brand {
    font-family: 'Roboto', sans-serif;
}

#heading-container {
    font-family: 'Roboto', sans-serif;
}

#main-container {
/*     background-color: #f2f2f2; */
}

.card-columns {
   column-count: 3;
}

@media screen and (max-width: 768px) {
    .card-columns {
        column-count: 1;
    }

    
    .standard-card .card {
        margin-bottom: 2em;
    }


}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .card-columns {
        column-count: 2;
    }
    

    .standard-card .card {
        margin-bottom: 2em;
    }

}

.clickable { cursor: pointer; }

.internal_row {
    background-color: #e0f0ff;
}

.external_row {
    background-color: /* elia:#ffe8f5*//* odin:#ffd1eb sarah:*/#c6d6e8;
}

.starred-card .card .card-header {
    cursor: pointer;
}

.starred-card .card {
    transition: border 0.4s;
}

.starred-card .card:hover {
    border: 1px solid var(--nzqa_blue);
}

.close-starred {
    z-index: 2;
    position: relative;
}

#about-list li:before {
    content: "›";
    float: left;
    margin-top: -1px;
    margin-left: -17px;
    color: #b7b7b7;
}

#about-list li {
    display: block;
}

.navbar-brand {
    font-weight: normal;
}
