:root {
  --nzqa_blue: #00709e;
  --nzqa_red: #d22127;
  --white: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.navbar {
    background-color: var(--nzqa_blue);
    border-bottom: 5px solid var(--nzqa_red);
}

.navbar_brand {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#heading-container {
    font-family: 'Roboto', sans-serif;
}

/* for big screens, 3 columns of subjects */
.card-columns {
   column-count: 3;
}

/* smol screens */
@media screen and (max-width: 768px) {
    .card-columns {
        column-count: 1;
    }

    
    .standard-card .card {
        margin-bottom: 2em;
    }


}

/* mid-size screens */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .card-columns {
        column-count: 2;
    }
    

    .standard-card .card {
        margin-bottom: 2em;
    }

}

/* general class to make the cursor be pointy when over something i want to be interactive */
.clickable { cursor: pointer; }


/* colour distinction between internal and external rows */
.internal_row {
    background-color: #e0f0ff;
}

.external_row {
    background-color: /* elia:#ffe8f5*//* odin:#ffd1eb sarah:*/#c6d6e8;
}

/* make the card have a blue border on hover */
.starred-card .card .card-header {
    cursor: pointer;
}

.starred-card .card {
    transition: border 0.4s;
}

.starred-card .card:hover { 
    border: 1px solid var(--nzqa_blue);
}

.close-starred {
    z-index: 2; /* put on top of stretch link to subject */
    position: relative;
}

/* on standards page, make the big nzqa link the nzqa colour */
#nzqa-link {
    background-color: var(--nzqa_blue);
}
